<%- include('partials/header-mast') -%>

<!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
                <div class="container px-4 px-lg-5">
                    <a class="navbar-brand" href="#page-top"><i class="bi bi-journal-bookmark-fill"></i> Property Journal</a>
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav ms-auto my-2 my-lg-0">
                            <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                            <li class="nav-item"><a class="nav-link" href="#services">Features</a></li>
                            <li class="nav-item"><a class="nav-link" href="#portfolio">Screenshots</a></li>
                            <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Masthead-->
            <header class="masthead">
                <div class="container px-4 px-lg-5 h-100">
                    <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                        <div class="col-lg-8 align-self-end">
                            <h1 class="text-white font-weight-bold">Property Journal</h1>
                            <hr class="divider" />
                        </div>
                        <div class="col-lg-8 align-self-baseline">
                            <p class="text-white-75 mb-2">Keep a journal for your home</p>
                            <p class="text-white-75 mb-5">track purchases, repairs, paint colors, and more.</p>
                            <a class="btn btn-primary btn-xl" href="#about">Discover How</a>
                        </div>
                    </div>
                </div>
            </header>
            <!-- About-->
            <section class="page-section bg-primary" id="about">
                <div class="container px-4 px-lg-5">
                    <div class="row gx-4 gx-lg-5 justify-content-center">
                        <div class="col-lg-8 text-center">
                            <h2 class="text-white mt-0">Record everything you do to your home!</h2>
                            <hr class="divider divider-light" />
                            <p class="text-white-75 mb-4">Keep track of everything in your home that you would normally forget. Don't waste time repeatedly searching junk drawers for information or crawling into attics to take a picture of some dusty name plate on a furnace.</p>
                            <a class="btn btn-light btn-xl" href="#services">Features!</a>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Services-->
            <section class="page-section" id="services">
                <div class="container px-4 px-lg-5">
                    <h2 class="text-center mt-0">Features</h2>
                    <hr class="divider" />
                    <div class="row gx-4 gx-lg-5">
                        <div class="col-lg-3 col-md-6 text-center">
                            <div class="mt-5">
                                <div class="mb-2"><i class="bi-gem fs-1 text-primary"></i></div>
                                <h3 class="h4 mb-2">Write it down</h3>
                                <p class="text-muted mb-0">Keep everything in one place. Forget about forgetting.</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 text-center">
                            <div class="mt-5">
                                <div class="mb-2"><i class="bi-globe fs-1 text-primary"></i></div>
                                <h3 class="h4 mb-2">Remote Access</h3>
                                <p class="text-muted mb-0">Quickly find and share gate codes and emergency shut off locations.</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 text-center">
                            <div class="mt-5">
                                <div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>
                                <h3 class="h4 mb-2">Trade Tags</h3>
                                <p class="text-muted mb-0">Tagging lets you sort and organize your projects.</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 text-center">
                            <div class="mt-5">
                                <div class="mb-2"><i class="bi-heart fs-1 text-primary"></i></div>
                                <h3 class="h4 mb-2">Made with Love</h3>
                                <p class="text-muted mb-0">Built by a former carpenter</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Portfolio-->
            <div id="portfolio">
                <div class="container-fluid p-0">
                    <div class="row g-0">
                        <div class="col-lg-4 col-sm-6">
                            <a class="portfolio-box" href="imgs/portfolio/fullsize/1.jpg" title="Project Name">
                                <img class="img-fluid" src="imgs/portfolio/thumbnails/1.jpg" alt="..." />
                                <div class="portfolio-box-caption">
                                    <div class="project-category text-white-50">HVAC</div>
                                    <div class="project-name">Change filter? Replaced unit?</div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <a class="portfolio-box" href="imgs/portfolio/fullsize/2.jpg" title="Project Name">
                                <img class="img-fluid" src="imgs/portfolio/thumbnails/2.jpg" alt="..." />
                                <div class="portfolio-box-caption">
                                    <div class="project-category text-white-50">Photos</div>
                                    <div class="project-name">Visual records for each entry</div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <a class="portfolio-box" href="imgs/portfolio/fullsize/3.jpg" title="Project Name">
                                <img class="img-fluid" src="imgs/portfolio/thumbnails/3.jpg" alt="..." />
                                <div class="portfolio-box-caption">
                                    <div class="project-category text-white-50">Paint</div>
                                    <div class="project-name">What color was that room?</div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <a class="portfolio-box" href="imgs/portfolio/fullsize/4.jpg" title="Project Name">
                                <img class="img-fluid" src="imgs/portfolio/thumbnails/4.jpg" alt="..." />
                                <div class="portfolio-box-caption">
                                    <div class="project-category text-white-50">Interface</div>
                                    <div class="project-name">Easy to navigate</div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <a class="portfolio-box" href="imgs/portfolio/fullsize/5.jpg" title="Project Name">
                                <img class="img-fluid" src="imgs/portfolio/thumbnails/5.jpg" alt="..." />
                                <div class="portfolio-box-caption">
                                    <div class="project-category text-white-50">Emergency notes</div>
                                    <div class="project-name">Where is that buried shutoff?</div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <a class="portfolio-box" href="imgs/portfolio/fullsize/6.jpg" title="Project Name">
                                <img class="img-fluid" src="imgs/portfolio/thumbnails/6.jpg" alt="..." />
                                <div class="portfolio-box-caption p-3">
                                    <div class="project-category text-white-50">Projects</div>
                                    <div class="project-name">Everything is organized</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Call to action-->
            <section class="page-section bg-dark text-white">
                <div class="container px-4 px-lg-5 text-center">
                    <h2 class="mb-4">Sign up for a free demo or log in below.</h2>
                    <p class="mb-4">Current Version: 0.17.2 (Pre-Alpha)</p>
                    <main class="container">
                        <div class="row justify-content-around mt-5">
                            <a href="/signup" class="col-3 btn btn-primary"> Signup</a>
                            <a href="/login" class="col-3 btn btn-primary"> Login</a>
                        </div>
                    </main>
                </div>
            </section>
            
            <!-- Footer-->
            <footer class="bg-light py-5">
                <div class="container px-4 px-lg-5"><div class="small text-center text-muted">Copyright &copy; 2022 - Property Journal</div></div>
            </footer>
            <!-- Bootstrap core JS-->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
            <!-- SimpleLightbox plugin JS-->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
            <!-- Core theme JS-->
            <script src="js/scripts.js"></script>
            <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
            <!-- * *                               SB Forms JS                               * *-->
            <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
            <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
            <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>

<%- include('partials/footer') -%>